.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
}
.swiper:hover .swiper-button-next,
.swiper-button-prev {
  opacity: 100%;
  -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.swiper:hover .swiper-button-prev {
  opacity: 100%;
  -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
  opacity: 0;
}

.swiper-pagination-bullet {
  width: 1.5rem;
  height: 0.2rem;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
  border-radius: 9999px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}
